div {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input[type='text'],
select {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: calc(100% - 22px); /* Adjust width considering padding and border */
}
